h1{
	color: black;
	background: #f53958;
	line-height: 200%;
	padding-left:.5em; 
	height: 2.3em;
}
*{
  margin:0;
  padding:0;
}

input[type=text]{
	position:relative;
	width: 80em;
	height:3em;
	overflow: hidden;
  	margin: 1em;
}
input[type=submit]{
  margin-top: 3em;
  margin-left: 1em;
}
input[type=password]{
 
  width: 80em;
  height:3em;
  overflow: hidden;
  margin: 1em;
  padding:1em;

}